body {
	font-family:Arial, Helvetica, sans-serif;
	background:#333333;
	font-size: 14px;
	}
	
h1 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:44px;
	text-align:justify;
	margin:2px;
	padding:0px;
}

h2 {
	background-color:#99CCCC;
	padding-left:5px;
	border:1px solid #0099CC;
	border-radius:25px;
	box-shadow: 5px 5px 5px #888888;
	width:100%;
	font-size: 25px;
	margin-top: 0px;
}

h3 {
	font-size:20px;
	padding:0px;
	margin:2px;
}
#head_div {
    padding-bottom: 5px;
    margin-bottom: 5px;
    height: auto;
    float: left;
}

#mother_div {
	margin:0 auto;
	max-width:95%;
}
#main_div {
	padding:10px;
	background-color:#FFFFFF;
	border-left:1px solid #666666;
	border-right:1px solid #666666;
		border-radius:10px;
	width:100%;
	float:left;
}
#portfolio_image {
	opacity: 0;
	cursor: pointer;
}
#portfolio_image_div {
	width: 0px;
	float: left;
}
#title_obj_traits_div {
	height:auto;
	float:left;
}

#title_obj_traits_div p {
	padding-left: 10px;
}
.address_class {
	font-family:Georgia, "Times New Roman", Times, serif;	
	color:#666;
	font-size: 16px;
}
.content_div {
	width:75%;
	height:auto;
	display:none;
	float:right;
	margin-right:20px;
}


.anime_title {
	position: relative;
}

.full_width {
	width:95%;
	height:auto;
	opacity: 1;
	float:left;
	clear:both;
}
.h2_button {
	cursor: pointer;
}
.hr_div {
	border-top: 1px solid #999;
}
.project-span {
	font-style: italic;
    font-weight: bold;
}
.quote-font {
	font-size: 18px;
}
.title_class {
	font-weight:bold;
	font-size:18px;
}



